---
import WiCS_Logo_White_Border from '../assets/WiCS_Logo_White_Border.png';
import instagram_logo from '../assets/instagram_logo.svg';
import linkedin_logo from '../assets/linkedin_logo.svg';
import discord_logo from '../assets/discord_logo.svg';
import bg_footer from '../assets/bg_footer.png';
import '/src/styles/global.css';
---

<head>
    <style>
        h1   {color: color-pink-100;}
    </style>
</head>

<!-- <div class="flex justify-center flex-row m-10 gap-x-20" style=" bg-color:rgb(249,228,224)" > -->
<body class="bg-[rgb(255 226 222)]">
    <div id='Container' class="flex justify-center flex-row m-10 gap-x-20" >
        <!-- left side: Wics Image, Name, Social Handles -->
        <div>
            <div class="flex flex-row ">
                <img src={WiCS_Logo_White_Border.src} alt="WicsLogo" width="120s" height="110">
                <h1 class="font-[lora] font-bold text-white whitespace-pre-line text-3xl pt-5 pl-5">Women in 
                Computer Science</h1>
            </div>
            <!--Social Media Handles and its logo-->
            <div> 
                <ul class="flex flex-row list-none items-center">
                    <li class="flex flex-row">
                        <img src={instagram_logo.src} alt="InstagramLogo" width="20" height="25">
                        <a href="https://www.instagram.com/wicsatuic/" style="text-decoration: underline" class="pl-1 text-white">Instagram</a>
                        <span class="pr-2 pl-2 text-white">|</span>
                    </li>
                    <li class="flex flex-row">
                        <img src={linkedin_logo.src} alt="Linkedin" width="20" height="25">
                        <a href="https://www.linkedin.com/company/women-in-computer-science-uic" class="pl-1 text-white" style="text-decoration: underline">Linkedin</a>
                        <span class="pr-2 pl-2 text-white">|</span>
                    </li>
                    <li class="flex flex-row">
                        <img src={discord_logo.src} alt="DiscordLogo" width="20" height="25">
                        <a href="https://discord.gg/YUa3dSS8yR" class="pl-1 text-white" style="text-decoration: underline">Discord</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right Col: List of different Links -->
        <div class="flex flex-row">
            <!-- left links -->
            <div>
                <ul class="pr-5 text-white font-railway">
                    <li>
                        <a href="https://www.instagram.com/">Home</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" class="pr-5"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">Calendar</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">Current Events</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">Past Events</a>
                    </li>
                </ul>
            </div>
            <!-- right links -->
            <div>
                <ul class=" text-white font-railway">
                    <li>
                        <a href="https://www.instagram.com/">Resources</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">Join WiCS</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">Our Team</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">About</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">Collaborate</a>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
</body>
<!-- Copyright section -->
<p class="text-center italic text-white">Copyright © 2025 Women in Computer Science at University of Illinois Chicago</p>
    

<style>

    body{
        background-color: #FFE2DE;
        background-image: url({bg_footer});
    }

</style>