<body>
    <div class="card">
        <div class="weather">
            <div class="description">
                <!-- weather description here -->
            </div>
            <div class="weather-icon">
                <!-- weather icon updated here -->
                <img src="" class="weather-img" />
            </div>
            
        </div>
        <div class="seperator">

        </div>
        <div class="weather-info">
            <div class="location"></div>
            <div class="date"></div>
            <div class="degree-cel"></div>
            <div class="degree-fahre"></div>
        </div>
    </div>
</body>

<script>
    // import type { APIRoute } from "astro";
    // const API_KEY = import.meta.env.WEATHER_API_KEY;
    // const API_URL = import.meta.env.WEATHER_API_URL;
    const API_KEY = "315162c22a7656116cbad3b7a28fcf25";
    const API_URL = "https://api.openweathermap.org/data/2.5/weather?units=metric";

        
    async function checkWeather(city) {
        const response = await fetch(`${API_URL}&appid=${API_KEY}&q=${city}`);

        if (!response.ok) {
            // display Chicago 
            console.error("City not found or an API error occurred.");
            return;
        }
        var data = await response.json();
        console.log(data);
        

        // update weather location 
        document.querySelector(".location").innerHTML = `${data.name}, ${data.sys.country}`;
        document.querySelector(".date").innerHTML = new Date().toLocaleDateString('en-US', {weekday: 'long'}); // grab current date
        
        // celsius temperature
        const tempCelsius = Math.round(data.main.temp);
        document.querySelector(".degree-cel").innerHTML = `${tempCelsius}°C`;

        // convert to fahrenheit
        const tempF = Math.round((tempCelsius * (9/5)) + 32);
        document.querySelector(".degree-fahre").innerHTML = `${tempF} F`;

        // update weather description and icon
        document.querySelector(".description").innerHTML = data.weather[0].description.charAt(0).toUpperCase() + data.weather[0].description.slice(1);
        const weatherIcon = document.querySelector(".weather-img");
        
        // set icon 
        const weatherCondition = data.weather[0].main.toLowerCase();

        // change weather icon
        if(weatherCondition.includes("clouds")) {
            weatherIcon.src = "src/assets/weather-images/clouds.png";
        }
        else if(weatherCondition.includes("clear")) {
            weatherIcon.src = "src/assets/weather-images/clear.png";
        }
        else if(weatherCondition.includes("rain")) {
            weatherIcon.src = "src/assets/weather-images/rain.png";
        }
        else if(weatherCondition.includes("drizzle")) {
            weatherIcon.src = "src/assets/weather-images/drizzle.png";
        }
        else if(weatherCondition.includes("mist")) {
            weatherIcon.src = "src/assets/weather-images/mist.png";
        }
        
    }
    checkWeather("chicago");


</script>

<style>
   * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: white;
   }
   .card {
    width: 90%;
    max-width: 500px;
    max-height: 250px;
    /* background: linear-gradient(135deg, rgba(147, 160, 217, 0.5), rgba(117, 140, 208, 0.5)); */
    background: linear-gradient(135deg, #93A0D9, #758CD0);
    box-shadow: 0 0 6px #888888;
    margin: 100px auto 0;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
   }
   .weather {
    padding-right: 15px;
    z-index: 1;
   }
   .description {
    padding-top: 45px;

    position: absolute;
    z-index: 2;
   }
   .weather-icon {
    padding-top: 40px;
   }
   .seperator {
    width: 1px;
    height: 200px;
    margin: auto 0;
    background-color: white;
   }
   .weather-info {
    padding-left: 30px;
   }

   .location {
    font-size: 18px;
    font-weight: 600;
   }
   .date {
    padding-bottom: 35px;
   }
   .degree-cel {
    font-size: 35px;
    font-weight: 600;
   }
   .degree-fahre {
    font-size: 22px;
    font-weight: 600;
   }
</style>